beautifulsoup4==4.9.1
certifi==2024.7.4
chardet==3.0.4
enum34==1.1.10
fire==0.3.1
idna==2.10
prompt_toolkit==3.0.47
pyTelegramBotAPI==3.7.3
requests==2.24.0
selenium==3.141.0
six==1.16.0
soupsieve==2.5
termcolor==2.4.0
tqdm==4.48.2
urllib3==1.25.11
wcwidth==0.2.13
